
        <div class="breadcrumbs animated fadeInDown duration2">
            <div class="breadcrumbs-inner">

                <div class="row">
                    <div class="col-lg-12">
                        <div class="page-header float-left">
                            <div class="page-title">
                                <h1><svg class="bi1 bi-star" width="1.3em" height="1.4em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.523-3.356c.329-.314.158-.888-.283-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767l-3.686 1.894.694-3.957a.565.565 0 0 0-.163-.505L1.71 6.745l4.052-.576a.525.525 0 0 0 .393-.288l1.847-3.658 1.846 3.658a.525.525 0 0 0 .393.288l4.052.575-2.906 2.77a.564.564 0 0 0-.163.506l.694 3.957-3.686-1.894a.503.503 0 0 0-.461 0z"/>
                                </svg><span id="menutitle">Dashboard</span></h1>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <div class="content">
            <div class="animated fadeInUpBig duration2">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">

                          <div class="row" style="text-align: left;padding: 20px;">
                            <div class="col-lg-8">
                              <h3>Input Link</h3><br>
                              <textarea id="inText" rows="10" style="width: 100%"></textarea>
                            </div>

                            <div class="col-lg-4">
                              <h3>or Input File .txt</h3><br>
                              <input id="inFile" type="file" accept=".txt">
                            </div>

                            <div class="col-lg-12" style="margin-top: 20px;">
                              <button id="submit" class="btn btn-outline-primary">Submit</button>
                            </div>

                            <div class="col-lg-12" style="text-align: left;">
                              <b style="color: black;" id="message"></b>
                            </div>
                          </div>

                        </div>
                    </div>

                </div>
            </div><!-- .animated -->

        </div><!-- .content -->

<script>
  
var StoreController = function(){
  var service = new Service;

  this.start = function(){
    $('#inText').val(null);
    $('#inFile').val(null);

    $('#submit').click(function(){
      prepareStore()
    })
  }

  var prepareStore = function(){
    var inText = $('#inText').val().trim();
    if(inText == ''){
      var files = $('#inFile')[0].files;
      for (var i = 0, f = files[i]; i != files.length; ++i) {
        var reader = new FileReader();
        var name = f.name;
        reader.onload = function (e) {
          getStore(reader.result);
        };
        
        reader.readAsText(f);
      }
    }
    else{
      getStore(inText);
    }
  }

  var isSubmit = false;
  var getStore = function(str){
    if(isSubmit) return;

    $('#submit').html('Loading...');
    isSubmit = true;
    drawLoading(300);
    
    service.start({
      type: 'post',
      data: {text: str},
      uri: App.baseAPI() + '/store/excel',
      timeout: 600000,
      async: true
    }, function(){

      $('#submit').html('Submit');
      isSubmit = false;
      clearInterval(timeLoading);

      if(service.isSuccessful()){
        $('#message').html(
          '<p style="color:green">Message: Success 100%</p>'+
          '<a class="btn btn-outline-green" href="{{base_url()}}/assets/store_data.csv">Download</a>'
        );
      }
      else{
        $('#message').html(
          '<p style="color:red">Message: '+service.response()['message']+'</p>'
        );
      }

    });
  }

  var timeLoading = null;
  var timeCounter = 0;
  var drawLoading = function(sec){
    timeCounter = 0;
    $('#message').html(
      '<p style="color:black">Message: Loading...</p>'
    );

    timeLoading = setInterval(function(){
      timeCounter++;
      var percent = Math.floor(timeCounter/sec*100);
      if(percent >= 100) percent = 99;
      $('#message').html(
        '<p style="color:black">Message: Loading '+percent+'%</p>'
      );
    }, 1000); 
  }

}

var store = new StoreController;
store.start();


</script>