<html lang="en" translate="no" class="notranslate">
<head>
    <meta name="title" content="Loopprentice Squad">
    <meta name="author" content="9nine9">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="google" content="notranslate">
    <meta name="robots" content="noindex,nofollow">
    <meta name="googlebot" content="noindex,nofollow">

    <meta http-equiv='cache-control' content='no-cache'> 
    <meta http-equiv='expires' content='0'> 
    <meta http-equiv='pragma' content='no-cache'> 

    <link rel="apple-touch-icon" href="{{base_url()}}/assets/img/new/main-icon.png">
    <link rel="shortcut icon" type="image/icon" href="{{base_url()}}/assets/img/new/main-icon.png" />

    <title>{{name}}</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/normalize.css@8.0.0/normalize.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/font-awesome@4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/lykmapipo/themify-icons@0.1.2/css/themify-icons.css">
    <link rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/pixeden-stroke-7-icon@1.2.3/pe-icon-7-stroke/dist/pe-icon-7-stroke.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/3.2.0/css/flag-icon.min.css">
    <link rel="stylesheet" href="{{ base_url() }}/v1/assets/css/cs-skin-elastic.css">
    <link rel="stylesheet" href="{{ base_url() }}/v1/assets/css/style.css?ver={{version}}">
    <link rel="stylesheet" href="{{ base_url() }}/v1/assets/css/animate.min.css">

    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet">


    <!-- Scripts -->
    <script src="https://cdn.jsdelivr.net/npm/jquery@2.2.4/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.4/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery-match-height@0.7.2/dist/jquery.matchHeight.min.js"></script>
    <script src="{{ base_url() }}/v1/assets/js/main.js?ver={{version}}"></script>

    <script src="{{ base_url() }}/assets/js/jquery.min.js"></script>

    <script src="{{ base_url() }}/assets/js/loadingOverlay.min.js"></script>
    <script src="{{ base_url() }}/assets/js/jquery.toaster.js"></script>
    <script src="{{ base_url() }}/config.js"></script>
    <script src="{{ base_url() }}/assets/js/Lib/App.js"></script>
    <script src="{{ base_url() }}/assets/js/Lib/Redirect.js"></script>
    <script src="{{ base_url() }}/assets/js/Lib/Request.js"></script>
    <script src="{{ base_url() }}/assets/js/Lib/Service.js"></script>
    <script src="{{ base_url() }}/assets/js/Lib/Session.js"></script>
    
    <script>
      var session = new Session;
      var menu_akses = '{{title}}';

      $(document).ready(function () {

      });

      var _modal = function(id, str = 'show'){
        var el = $('#btn_'+id);
        var mdl = $('#'+id);
        if(str == 'show' && !mdl.is(':visible')){
          el.click();
        }else if(str == 'hide' && mdl.is(':visible')){
          el.click();
        }
      }

        var _numFormat = function(nStr){
            if(!nStr) return 0;

            nStr += '';
            x = nStr.split('.');
            x1 = x[0];
            x2 = x.length > 1 ? '.' + x[1] : '';
            var rgx = /(\d+)(\d{3})/;
            while (rgx.test(x1)) {
                x1 = x1.replace(rgx, '$1' + ',' + '$2');
            }
            return x1 + x2;
        }

        // sleep time expects milliseconds
        var _sleep = function(time) {
            return new Promise((resolve) => setTimeout(resolve, time));
        }

        var _ifnull = function(data, value) {
            return data == null ? value : data;
        }

    </script>

    {% include "layout/bounce-admin.html" %}

</head>
<body>
    <!-- <div class="preloader">
        <div class="sk-folding-cube">
            <div class="sk-cube1 sk-cube"></div>
            <div class="sk-cube2 sk-cube"></div>
            <div class="sk-cube4 sk-cube"></div>
            <div class="sk-cube3 sk-cube"></div>
        </div>
    </div> -->

    <!-- Left Panel -->
    <aside id="left-panel" class="left-panel animated fadeInLeft duration2 delay2">
        <nav class="navbar navbar-expand-sm navbar-default">

            <div id="main-menu" class="main-menu collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li class="menu-title">MENU</li>

                    <li><a href="#"><i class="menu-icon flat-color-1"><svg class="bi bi-star" width="1.4em" height="1.4em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.523-3.356c.329-.314.158-.888-.283-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767l-3.686 1.894.694-3.957a.565.565 0 0 0-.163-.505L1.71 6.745l4.052-.576a.525.525 0 0 0 .393-.288l1.847-3.658 1.846 3.658a.525.525 0 0 0 .393.288l4.052.575-2.906 2.77a.564.564 0 0 0-.163.506l.694 3.957-3.686-1.894a.503.503 0 0 0-.461 0z"/></svg></i>Dashboard</a></li>
                 
                </ul>
            </div><!-- /.navbar-collapse -->
        </nav>
    </aside><!-- /#left-panel -->

    <!-- Left Panel -->

    <!-- Right Panel -->
    <div id="right-panel" class="right-panel">

        <!-- Header-->
        <header id="header" class="header">
            <div class="top-left">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#"><img src="{{base_url()}}/assets/img/new/main-logo.png" alt="Logo" style="width: 40px"></a>
                    <a id="menuToggle" class="menutoggle" style="margin-top: 15px;"><i class="fa fa-bars"></i></a>
                </div>
            </div>
            
        </header><!-- /header -->
        <!-- Header-->

        {% include '/store/dashboard.html' %}

        <div class="clearfix"></div>

    </div>
    <!-- Right Panel -->

</body>


<style>
  th.dt-center, td.dt-center { text-align: center; }
  
  tr.rowselected td{background-color: #ffebeb !important;}

    .chosen-container {
        width: 100% !important;
    }

    .sub-menu{
        background: #f2f2f2 !important;
    }

    .active-sub-menu{
        background: #ffedee !important;
    }

    .bootstrap-tagsinput {
      width: 100% !important;
    }

    .bootstrap-tagsinput .tag {
      background: gray;
      padding: 0 6px;
      margin-right: 2px;
      color: white;
      border-radius: 4px;
    }

   .modal { overflow: auto !important; }
   

    .dataTables_scrollBody{
        max-height: 400px !important;
    }

    .dataTables_filter {
        white-space:nowrap;
    }

    .dataTables_filter input[type="search"] {
        display: none !important;
    }

    .dataTables_filter label, .dataTables_filter input {
        display: inline-block;
    }

    .dataTables_filter input {
        max-width: 150px !important;
        border: 1px solid #d4d4d4;
    }

    .form-control {
        border: 1px solid #d4d4d4 !important;
    }

    .dataTable thead th {
        border: none;
        border-left: 0.1px solid white !important;
    }

    .dataTable tbody td {
        border: none;
    }

    tr:nth-child(odd){
      background-color: #f5f5f5 !important;
    }

    tr:nth-child(even){
      background-color: white !important;
    }

    @media (max-width: 400px) {
      
      .dropdown-menu, .bootstrap-select{
        width: 230px !important;
      }
    }

    @media (max-width: 400px) {
      
      .dropdown-menu, .bootstrap-select{
        width: 230px !important;
      }
    }

    /* width */
    ::-webkit-scrollbar {
      width: 7px;
      height: 7px;
    }

    /* Track */
    ::-webkit-scrollbar-track {
      box-shadow: inset 0 0 5px grey; 
      border-radius: 10px;
    }
     
    /* Handle */
    ::-webkit-scrollbar-thumb {
      background: #ababab; 
      border-radius: 10px;
    }

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
      background: #636363; 
    }

    .obc-th{
      background-color: #6e6e6e !important;
      color: white !important;
      text-align: center; 
      font-size: 12px;
    }

    .ota-th{
      background-color: #b06b64 !important;
      color: white !important;
      text-align: center;
      font-size: 12px;
    }

    .omg-th{
      background-color: #507bbf !important;
      color: white !important;
      text-align: center;
      font-size: 12px;
    }


    .obc-td{
      color: #6e6e6e !important !important;
    }

    .ota-td{
      color: #b06b64 !important !important;
    }

    .omg-td{
      color: #507bbf !important !important;
    }

    .obc-migration{
      background-color: #383838 !important;
    }

    .ota-migration{
      background-color: #784944 !important;
    }

    .regional-th{
      background-color: #8A2BE2 !important;
      color: white !important;
      text-align: center;
      font-size: 12px;
    }
    .final-th{
      background-color: #9c30ff !important;
      color: white !important;
      text-align: center;
      font-size: 12px;
    }
    .digipos-th{
      background-color: #32a852 !important;
      color: white !important;
      text-align: center;
      font-size: 12px;
    }
    .sales-th{
      background-color: #3f78eb !important;
      color: white !important;
      text-align: center;
      font-size: 12px;
    }
    .zona-osk-th{
      background-color: #ff303b !important;
      color: white !important;
      text-align: center;
      font-size: 12px;
    }
    .zona-poi-th{
      background-color: #ff933b !important;
      color: white !important;
      text-align: center;
      font-size: 12px;
    }

    .mc2u-th{
      background-color: #cf003e !important;
      color: white !important;
      text-align: center;
      font-size: 12px;
    }

    th.dt-center, td.dt-center {
      text-align: center;
      margin-left: 0px !important;
      margin-right: 0px !important;
      padding-left: 5px !important;
      padding-right: 5px !important;
    }

    .sub-th .digipos-th{
      color: black !important;
      background-color: #c2ffd2 !important;
    }
    .sub-th .sales-th{
      color: black !important;
      background-color: #c7daff !important;
    }
    .sub-th .zona-osk-th{
      color: black !important;
      background-color: #ffd6d8 !important;
    }
    .sub-th .zona-poi-th{
      color: black !important;
      background-color: #ffead9 !important;
    }
    .sub-th .regional-th{
      color: black !important;
      background-color: #c78cff !important;
    }
    .sub-th .final-th{
      color: black !important;
      background-color: #e0bfff !important;
    }
    .sub-th .mc2u-th{
      color: black !important;
      background-color: #ffc4d6 !important;
    }

    .fileUpload {
        position: relative;
        overflow: hidden;
        margin: 10px;
    }
    .fileUpload input.upload {
        position: absolute;
        top: 0;
        right: 0;
        margin: 0;
        padding: 0;
        font-size: 20px;
        cursor: pointer;
        opacity: 0;
        filter: alpha(opacity=0);
    }
</style>
</html>
