<style type="text/css">
/*-----------
preloader
------------*/

.bounce-preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#75cbe7', endColorstr='#138fc2', GradientType=0);
    z-index: 99999999999;
}

.bounce-sk-folding-cube {
    margin: 20px auto;
    width: 40px;
    height: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -20px;
    margin-left: -20px;
    -webkit-transform: rotateZ(45deg);
    transform: rotateZ(45deg);
}

.bounce-sk-folding-cube .bounce-sk-cube {
    float: left;
    width: 50%;
    height: 50%;
    position: relative;
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.bounce-sk-folding-cube .bounce-sk-cube:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #9e9e9e;
    -webkit-animation: bounce-sk-foldCubeAngle 2.4s infinite linear both;
    animation: bounce-sk-foldCubeAngle 2.4s infinite linear both;
    -webkit-transform-origin: 100% 100%;
    transform-origin: 100% 100%;
}

.bounce-sk-folding-cube .bounce-sk-cube2 {
    -webkit-transform: scale(1.1) rotateZ(90deg);
    transform: scale(1.1) rotateZ(90deg);
}

.bounce-sk-folding-cube .bounce-sk-cube3 {
    -webkit-transform: scale(1.1) rotateZ(180deg);
    transform: scale(1.1) rotateZ(180deg);
}

.bounce-sk-folding-cube .bounce-sk-cube4 {
    -webkit-transform: scale(1.1) rotateZ(270deg);
    transform: scale(1.1) rotateZ(270deg);
}

.bounce-sk-folding-cube .bounce-sk-cube2:before {
    -webkit-animation-delay: 0.3s;
    animation-delay: 0.3s;
}

.bounce-sk-folding-cube .bounce-sk-cube3:before {
    -webkit-animation-delay: 0.6s;
    animation-delay: 0.6s;
}

.bounce-sk-folding-cube .bounce-sk-cube4:before {
    -webkit-animation-delay: 0.9s;
    animation-delay: 0.9s;
}

@-webkit-keyframes bounce-sk-foldCubeAngle {
    0%,
    10% {
        -webkit-transform: perspective(140px) rotateX(-180deg);
        transform: perspective(140px) rotateX(-180deg);
        opacity: 0;
    }
    25%,
    75% {
        -webkit-transform: perspective(140px) rotateX(0deg);
        transform: perspective(140px) rotateX(0deg);
        opacity: 1;
    }
    90%,
    100% {
        -webkit-transform: perspective(140px) rotateY(180deg);
        transform: perspective(140px) rotateY(180deg);
        opacity: 0;
    }
}

@keyframes bounce-sk-foldCubeAngle {
    0%,
    10% {
        -webkit-transform: perspective(140px) rotateX(-180deg);
        transform: perspective(140px) rotateX(-180deg);
        opacity: 0;
    }
    25%,
    75% {
        -webkit-transform: perspective(140px) rotateX(0deg);
        transform: perspective(140px) rotateX(0deg);
        opacity: 1;
    }
    90%,
    100% {
        -webkit-transform: perspective(140px) rotateY(180deg);
        transform: perspective(140px) rotateY(180deg);
        opacity: 0;
    }
}

</style>

<!-- <style>
        .bounce {
          display: inline-block;
          position: relative;
          -moz-animation: bounce 0.5s infinite linear;
          -o-animation: bounce 0.5s infinite linear;
          -webkit-animation: bounce 0.5s infinite linear;
          animation: bounce 0.5s infinite linear;
          colr:000;
        }
        .fa-dribbble{
            color: gray;
            font-size: 80%;
            margin: 20px;
        }
        @-webkit-keyframes bounce {
            0% { top: 0; }
            50% { top: -0.2em; }
            70% { top: -0.3em; }
            100% { top: 0; }
        }
        @-moz-keyframes bounce {
            0% { top: 0; }
            50% { top: -0.2em; }
            70% { top: -0.3em; }
            100% { top: 0; }
        }
        @-o-keyframes bounce {
            0% { top: 0; }
            50% { top: -0.2em; }
            70% { top: -0.3em; }
            100% { top: 0; }
        }
        @-ms-keyframes bounce {
            0% { top: 0; }
            50% { top: -0.2em; }
            70% { top: -0.3em; }
            100% { top: 0; }
        }
        @keyframes bounce {
            0% { top: 0; }
            50% { top: -0.2em; }
            70% { top: -0.3em; }
            100% { top: 0; }
        }
</style> -->

<script type="text/javascript">

function showLoading(){
    $.LoadingOverlay("show", {
        image       : "",
        custom      : '<div class="bounce-preloader">'+
                        '<div class="bounce-sk-folding-cube">'+
                          '  <div class="bounce-sk-cube1 bounce-sk-cube"></div>'+
                           ' <div class="bounce-sk-cube2 bounce-sk-cube"></div>'+
                            '<div class="bounce-sk-cube4 bounce-sk-cube"></div>'+
                            '<div class="bounce-sk-cube3 bounce-sk-cube"></div>'+
                        '</div>'+
                    '</div>',
        // fontawesome : "fa fa-dribbble bounce"
        fontawesome : ""
    });
}

function hideLoading(){
    $.LoadingOverlay("hide");
}


var _searchBox = '<div class="input-group">'+
                          '<input type="text" id="input1-group2" name="input1-group2" placeholder="Cari" class="form-search">'+
                          '<button class="btn btn-search">'+
                            '<i class="fa fa-search"></i>'+
                          '</button>'+
                '</div>';
</script>